.tab {
  background-color: transparent;
  border: none;
  color: #9a9fa7;
  font-size: 1.2rem;
  padding: .8em 1em;
  border-bottom: 2px solid transparent;
}

.tab:hover {
  color: #f06292;
  cursor: pointer;
}

.tab__active {
  color: #dce0e3;
  border-bottom: 2px solid #f06292;
}

.tab__active:hover {
  color: #dce0e3;
  cursor: default;
}